# Astro
.astro/
dist/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.production

# Vercel
.vercel/

# IDE
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

# Logs
logs
*.log

# Bun
bun.lockb
bun.lock
